TRADENOTE_PORT=8080
TRADENOTE_DATABASE=tradenote
APP_ID=change-me
MASTER_KEY=change-me
MONGO_USER=tradenote
MONGO_PASSWORD=change-me
SERVICE_URL_TRADENOTE=https://tradenote.emmanuelmunene.com
SERVICE_FQDN_TRADENOTE=tradenote.emmanuelmunene.com